﻿@{
    var roleList = (List<string>)ViewBag.RoleList;
}
@using IQA.Services.SettingData;
@using IQA.Database.CustomModel;
@using IQA.Utils;

<link rel="stylesheet" href="~/Content/bootstrap-table.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-multiselect.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/parsley.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/daterangepicker.css?v=@PageData["xversion"]">

<style>
    .fixed-table-body {
        overflow: visible !important;
        margin-bottom: 50px;
    }

    .dropdown-item:hover {
        text-decoration: none;
    }

    td {
        vertical-align: middle !important;
    }

    .content .fixed-table-pagination {
        padding-top: 75px;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-container thead th, .fixed-table-container tbody td, .fixed-table-container tr {
        border: 1px solid #dddddd !important;
        text-align: center;
    }
</style>
<div class="row">
    <h2>
        @ViewBag.Header
    </h2>
</div>
<div class="content" id="content">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-default" style="padding-bottom:50px;border:0px; box-shadow:none">
                <div class="panel-body">
                    @if (roleList.Contains(RoleEnum._EMPLOYEE.GetKey()))
                    {
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <button class="btn btn-primary" id="addBtn" style="margin-right:10px">Add New Activation Request</button>
                                <button class="btn btn-primary" id="addPartBtn">Add New Part</button>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 form-group">
                            <label>User can search activation from the criteria given</label>
                        </div>
                    </div>
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Part</label><br />
                                <input class="form-control" type="text" name="PartFilterId" id="PartFilterId">
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Inventory</label><br />
                                <select class="form-control multiselect" name="InventoryFilterId" multiple="multiple" id="InventoryFilterId">
                                    @foreach (var ea in ViewBag.Inventory)
                                    {
                                        <option value="@ea.Id">@ea.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Activation Start Date</label>
                                <input class="form-control datetimePickerFilter" type="text" name="StartDateFilterId" id="StartDateFilterId">
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Activation End Date</label>
                                <input class="form-control datetimePickerFilter" type="text" name="EndDateFilterId" id="EndDateFilterId" autocomplete="off">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                            <label>&nbsp;</label><br />
                            <button class="btn btn-primary" id="searchBtn">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                            <table id="activationTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detailModal" class="modal fade modal-right" role="dialog">
    <div class="modal-dialog">
        <form id="form" data-parsley-validate="true" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activation</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Part : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <input class="form-control" required type="text" name="PartNumber" id="PartNumber" autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Inventory : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <select class="form-control select nonEdittable" required name="InventoryId" id="InventoryId" data-live-search="true" data-size="8">
                                @foreach (var ea in ViewBag.Inventory)
                                {
                                    <option value="@ea.Id">@ea.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Requestor : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <select class="form-control select" required name="ActivationUserId" id="ActivationUserId" disabled data-live-search="true" data-size="8">
                                @foreach (var ea in ViewBag.User)
                                {
                                    <option value="@ea.user_id">@ea.email</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Incoming Part Location : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <select class="form-control select nonEdittable" required name="PartLocationId" id="PartLocationId" data-live-search="true" data-size="8">
                                @foreach (var ea in ViewBag.PartLocation)
                                {
                                    <option data-valid="@ea.IsValid.ToString().ToLower()" value="@ea.Id">@ea.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Consecutive Lot Count : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <input type="text" data-parsley-type="number" class="form-control nonEdittable" required id="ConsecutiveLotCount" name="ConsecutiveLotCount" data-default="@ViewBag.ConsecutiveCount" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Document : </label>
                        <div class="col-md-6 col-lg-6 col-xs-6">
                            <input id="documentTxt" name="documentTxt" type="file" required class="file form-control" data-show-preview="false">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-3">
                            <a href="" class="btn btn-primary form-control downloadActivationTemplateBtn">Download</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3">Is Safety Component : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <select class="form-control" required id="IsSafetyComponent" name="IsSafetyComponent">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3">Remark : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <input type="text" class="form-control" id="Remark" name="Remark" />
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="Id" name="Id" />
                </div>
                <div class="modal-footer">
                    <label class="unsupportedPartLocationDetail">Not supported part location</label>
                    <button type="submit" class="btn btn-primary detailControlBtn" id="btnSubmit">Save</button>
                    <button type="button" class="btn btn-default detailControlBtn" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="newPartModal" class="modal fade modal-right" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="entryForm" data-parsley-validate="true" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Part</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div id="partFormDiv">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/bootstrap/bootstrap-table-min.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/bootstrap/bootstrap-select.min.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/bootstrap/bootstrap-multiselect.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/parsley.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/daterangepicker.min.js?v=@PageData["xversion"]"></script>
    @{Html.RenderPartial("~/Views/Template/InspectionRecordModal.cshtml");}
    @{Html.RenderPartial("~/Views/Template/ActivationLogModal.cshtml");}
    @{Html.RenderPartial("~/Views/Template/DeactivationApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
    @{Html.RenderPartial("~/Views/Template/LotExtensionModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
    @{Html.RenderPartial("~/Views/Template/ActivationApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
    @{Html.RenderPartial("~/Views/Template/ActivationDocumentUpdateModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
    @{Html.RenderPartial("~/Views/Template/TrainingDocumentUpdateModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
    @{Html.RenderPartial("~/Views/Template/ActivationDocumentApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
<script>
    var newJson = {};
    var colorCodeObj = {};
    colorCodeObj["@ActivationStatusEnum._PENDING_TRAINING_RECORD.GetKey()"] = "#ED7D7D";
    colorCodeObj["@ActivationStatusEnum._REQUEST_ACTIVATION.GetKey()"] = "#ED7D7D";
    colorCodeObj["@ActivationStatusEnum._ACTIVE.GetKey()"] = "#ED7D7D";
    colorCodeObj["@ActivationStatusEnum._CANCELED.GetKey()"] = "#ED7D7D";
    colorCodeObj["@ActivationStatusEnum._REJECT.GetKey()"] = "#ED7D7D";
    colorCodeObj["@ActivationStatusEnum._PENDING_APPROVAL.GetKey()"] = "#FFFF00";
    colorCodeObj["@ActivationStatusEnum._PENDING_ORACLE_UPDATE.GetKey()"] = "#FFFF00";
    colorCodeObj["@ActivationStatusEnum._PENDING_LOT_EXTENSION_APPROVAL.GetKey()"] = "#FFFF00";
    colorCodeObj["@ActivationStatusEnum._COMPLETED.GetKey()"] = "#83C660";

    function actionFormatter(value, row, index) {
        var formatter = "-";

        formatter = "<div class='dropdown'>" +
            "<a href='javascript:;' class='dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
            "<i class='glyphicon glyphicon-cog'></i>" +
            "</a>" +
            "<ul class='dropdown-menu'>";

        if (row.StatusId.toString() != "@ActivationStatusEnum._REJECT.GetId()") {
            if ("@WebSecurity.CurrentUserId" == row.ActivationUserId.toString()) {
                if (row.StatusId.toString() == "@ActivationStatusEnum._CANCELED.GetId()") {
                    formatter += '<li><a class="dropdown-item updateStatus" data-status="@ActivationStatusEnum._ACTIVE.GetId()" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-ok-sign"></i>&nbsp;&nbsp;Enable Activation</a></li>';
                }
                else {
                    if (row.StatusId.toString() == "@ActivationStatusEnum._REQUEST_ACTIVATION.GetId()" || row.StatusId.toString() == "@ActivationStatusEnum._PENDING_TRAINING_RECORD.GetId()") {
                        formatter += '<li><a class="dropdown-item edit" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Edit</a></li>';
                    }
                    else if (row.StatusId.toString() != "@ActivationStatusEnum._COMPLETED.GetId()"){
                        formatter += '<li><a class="dropdown-item requestDocumentUpdate" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;Request Document Update</a></li>';
                    }

                    if (row.StatusId.toString() != "@ActivationStatusEnum._CANCELED.GetId()" && row.StatusId.toString() != "@ActivationStatusEnum._PENDING_LOT_EXTENSION_APPROVAL.GetId()") {
                        formatter += '<li><a class="dropdown-item updateStatus" data-status="@ActivationStatusEnum._CANCELED.GetId()" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-remove-sign"></i>&nbsp;&nbsp;Cancel Activation</a></li>';
                    }

                    if (row.StatusId.toString() == "@ActivationStatusEnum._PENDING_APPROVAL.GetId()") {
                        formatter += '<li><a class="dropdown-item updateDeactivationStatus" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Deactivation Request</a></li>';
                    }

                    if (row.StatusId.toString() == "@ActivationStatusEnum._PENDING_TRAINING_RECORD.GetId()") {
                        formatter += '<li><a class="dropdown-item requestTrainingDocumentUpdate" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;Update Training Document</a></li>';
                    }
                }
            }

            if (row.StatusId.toString() != "@ActivationStatusEnum._CANCELED.GetId()") {
                if (row.StatusId.toString() == "@ActivationStatusEnum._PENDING_ORACLE_UPDATE.GetId()") {
                    @if (roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
                    {
                        @:if (!row.OracleSettingObject.KeyX1Q1R1)
                        @:{
                        @:    formatter += '<li><a class="dropdown-item UpdateOracleKey" data-key="@OracleSettingObject._KEY_X1Q1R1" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;Update X1Q1R1</a></li>';
                        @:}

                        @:if (!row.OracleSettingObject.KeyX1WPR1)
                        @:{
                        @:    formatter += '<li><a class="dropdown-item UpdateOracleKey" data-key="@OracleSettingObject._KEY_X1WPR1" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;Update X1Q1R1</a></li>';
                        @:}
                    }
                }

                if (row.StatusId.toString() == "@ActivationStatusEnum._PENDING_LOT_EXTENSION_APPROVAL.GetId()" && row.PendingLotUpdate.ApprovalList.filter(function (e) { return e.UserId == Number(@WebSecurity.CurrentUserId) }).length != 0)
                {
                    var filteredUser = row.PendingLotUpdate.ApprovalList.filter(function (e) { return e.UserId == Number(@WebSecurity.CurrentUserId) });

                    if (filteredUser.length != 0 && filteredUser[0].Status == "@CommonUtil._STATUS_PENDING") {
                        formatter += '<li><a class="dropdown-item updateExtensionStatus" data-count="' + row.PendingLotUpdate.LotCount + '" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Extension Request</a></li>';
                    }
                }

                @if (roleList.Contains(RoleEnum._ENGINEER.GetKey()))
                {
                    @:if (row.StatusId.toString() == "@ActivationStatusEnum._REQUEST_ACTIVATION.GetId()")
                    @:{
                    @:    formatter += '<li><a class="dropdown-item updateApprovalStatus" data-status="@ActivationStatusEnum._ACTIVE.GetId()" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Activation Request</a></li>';
                    @:}

                    @:if (row.PendingDocumentUpdate !== null)
                    @:{
                    @:    formatter += '<li><a class="dropdown-item updateDocumentUpdateStatus" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-ok-sign"></i>&nbsp;&nbsp;View Document Update Request</a></li>';
                    @:}
                }
            }
        }

        if (row.StatusId.toString() != "@ActivationStatusEnum._REQUEST_ACTIVATION.GetId()" && row.StatusId.toString() != "@ActivationStatusEnum._PENDING_TRAINING_RECORD.GetId()") {
            formatter += '<li><a class="dropdown-item viewInspectionRecord" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Inspection Record</a></li>';
            formatter += '<li><a class="dropdown-item previewBtn" data-path="' + row.RequestDocument + '" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Preview Document</a></li>';
            formatter += '<li><a class="dropdown-item viewHistory" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View History</a></li>';
        }

        formatter += "</ul></div>";

        return formatter;
    }

        window.actionEvents = {
            'click .edit': function (e, value, row, index) {
                editEvent(e, value, row, index);
            },
            'click .updateDocumentUpdateStatus': function (e, value, row, index) {
                showDocumentUpdateConfirmation(e, value, row, index);
            },
            'click .updateApprovalStatus': function (e, value, row, index) {
                showActivationConfirmation(e, value, row, index);
            },
            'click .updateDeactivationStatus': function (e, value, row, index) {
                showDeactivationConfirmation(e, value, row, index);
            }
        }

    $(document).ready(function () {
        updateConfluenceLink("display/XcadiaESD/ESD+Dashboard+-+Training+and+Use+Case");
        $("#ddlDiv").hide();

        $(".multiselect").multiselect({
            includeSelectAllOption: true,
            includeFilterClearBtn: false,
            enableFiltering: true,
            maxHeight: 200,
            buttonContainer: '<div class="btn-group" style="width:100%" />',
            buttonClass: 'btn btn-default form-control',
        });

        $(".select").selectpicker();

        initForm();

        init();

        $(document).on("click", "#addPartBtn", function () {
            for (var i = 0; i < newJson.InputField.length; i++) {
                $("#" + newJson.InputField[i].Id).val(newJson.InputField[i].DefaultValue);
            }

            $("#newPartModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(".datetimePicker").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm'
            },
            minDate: moment()
        });

        $('.datetimePickerFilter').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm'
            }
        });

        $(".datetimePickerFilter").val('');

        $(document).on("submit", "#form", function (e) {
            var data = new FormData(this);
            data.append("ActivationUserId", $('#ActivationUserId').val());
            submitForm(data, "detailModal", "/IQA/api/Activation/CreateOrUpdateActivation", true);
            e.preventDefault();
        });

        $(document).on("click", ".updateStatus", function (e) {
            var formData = new FormData();
            formData.append("Id", $(this).data("id"));
            formData.append("Status", $(this).data("status"));
            submitForm(formData, null, "/IQA/api/Activation/CreateOrUpdateActivation", true);
        });

        $(document).on("click", "#addBtn", function () {
            clearData();
            $("#PartLocationId").trigger("change");
            $(".nonEdittable").attr("disabled", false);
            $("#documentTxt").attr("required", true);
            $("#ActivationUserId").val("@WebSecurity.CurrentUserId");
            $(".select").selectpicker("refresh");
            $("#detailModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(document).on("click", "#searchBtn", function (e) {
            renderDataTable();
        });

        $(document).on("click", ".UpdateOracleKey", function (e) {
            submitForm(null, null, "/IQA/api/Activation/UpdateOracleData?activationId=" + $(this).data("id")+"&key="+$(this).data("key"), true);
        });

        $(document).on("submit", "#entryForm", function (e) {
            submitForm(new FormData(this), "newPartModal", "/IQA/api/Configuration/CreateOrUpdateConfiguration?database=iqa_inventory_item", false);
            e.preventDefault();
        });

        $(document).on("change", "#PartLocationId", function (e) {
            if ($('#PartLocationId option:selected').data('valid')) {
                $(".detailControlBtn").show();
                $(".unsupportedPartLocationDetail").hide();
            }
            else {
                $(".unsupportedPartLocationDetail").show();
                $(".detailControlBtn").hide();
            }
        });

        $("#searchBtn").trigger("click");
    });

    function init() {
        obj.url = "/IQA/api/Configuration/GetActivationDocument";
        $spinner.addClass('loader');
        GetData_Ajax(obj).then(function (data) {
            if (data.Status == -1) {
                ShowNotification(data.Description, "error");
            }
            else {
                $(".downloadActivationTemplateBtn").attr("href", data.Body);
            }
        });
    }

    function initForm() {
        obj.url = "/DE/api/DataEntryForm/GetForm?module=iqa_inventory_item";
        $spinner.addClass('loader');
        GetData_Ajax(obj).then(function (data) {
            $spinner.removeClass('loader');
            if (data.Status == -1) {
                ShowNotification(data.Description, "error");
            }
            else {
                $("#partFormDiv").empty();
                var obj = JSON.parse(data.Body[0].criteria);
                newJson = clone(obj);
                obj.id = "partFormDiv";
                RenderForm(obj);

                $("#entryForm input").each(function () {
                    if ($(this).css('visibility') == "visible") {
                        $(this).attr("required", true);
                    }
                });
                $('#form').parsley().reset();
            }
        });
    }

    function renderDataTable() {
        var queryData = {};
        queryData["PartNumber"] = $("#PartFilterId").val();
        queryData["InventoryId"] = $("#InventoryFilterId").val();

        if ($("#StartDateFilterId").val() !== "") {
            queryData["StartTime"] = $("#StartDateFilterId").val();
        }

        if ($("#EndDateFilterId").val() !== "") {
            queryData["EndTime"] = $("#EndDateFilterId").val();
        }

        $spinner.addClass('loader');
        $.ajax({
            url: "/IQA/api/Activation/GetActivationData",
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(queryData),
            success: function (data) {
                $spinner.removeClass('loader');

                $("#activationTable").empty();
                var activationTableObj = {};
                activationTableObj.id = "activationTable";
                activationTableObj.data = data.Body;
                activationTableObj.action = true;
                RenderBootstrapTable(activationTableObj);

                if (activationTableObj.data.length != 0) {
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'PartId');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'InventoryId');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'PartLocationId');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'ActivationUserId');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'UpdatedTime');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'CreatedTime');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'Id');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'StatusId');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'Remark');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'RequestDocument');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'TrainingDocument');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'OracleSettingObject');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'PendingDocumentUpdate');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'PendingLotUpdate');
                    $("#tableactivationTable").bootstrapTable('hideColumn', 'IsSafetyComponent');

                    $("#tableactivationTable").bootstrapTable("refreshOptions", {
                        trimOnSearch: false,
                        onAll: function (a, b) {
                            var index = 0;
                            $("#tableactivationTable thead tr th").each(function (i, row) {
                                if ($(this).data("field") == "Status") {
                                    index = i;
                                }
                            });
                            index++;

                            $("#tableactivationTable tbody tr").each(function (i, row) {
                                var $row = $(row);
                                $row.find("td:nth-child(" + index + ")").css("background", colorCodeObj[$row.find("td:nth-child(" + index + ")").text()]);
                                $row.find("td:nth-child(" + index + ")").css("color", "#1B1B1F");
                            });
                        }
                    });
                }
            }
        });
    }

    function submitForm(data, modal, url, renderTable) {
        $spinner.addClass("loader");
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                $spinner.removeClass('loader');
                if (response.Status == -1) {
                    ShowNotification(response.Description, "error");
                }
                else {
                    ShowNotification(response.Description, "success");
                    if (modal) {
                        $("#" + modal).modal('hide');
                    }

                    if (renderTable) {
                        renderDataTable();
                    }
                }
            }
        });
    }

    function editEvent(e, value, row, index) {
        updateValue(row);

        $("#detailModal").modal({
            show: true,
            keyboard: false
        });
    }

    function showDocumentUpdateConfirmation(e, value, row, index) {
        $("#activationDocumentApprovalForm .Id").val(row.Id);
        $("#activationDocumentApprovalForm #ActivationUsername").val(row.ActivationUser);
        $("#activationDocumentApprovalForm #RequestDocument").val(row.PendingDocumentUpdate.Document);
        $("#activationDocumentApprovalForm .previewBtn").attr("data-path", row.PendingDocumentUpdate.Document);

        $("#activationDocumentApprovalModal").modal({
            show: true,
            keyboard: false
        });
    }

    function updateValue(data) {
        clearData();
        $("#documentTxt").removeAttr("required");

        $("#documentPreviewTxt").val(data.RequestDocument);
        $("#PartNumber").val(data.PartNumber);
        $("#InventoryId").val(data.InventoryId);
        $("#PartLocationId").val(data.PartLocationId);
        $("#ActivationUserId").val(data.ActivationUserId);
        $("#IsSafetyComponent").val(data.IsSafetyComponent.toString());
        $("#ConsecutiveLotCount").val(data.ConsecutiveLotCount + data.AdditionalConsecutiveLotCount);
        $("#Remark").val(data.Remark);
        $("#Id").val(data.Id);
        $("#PartLocationId").trigger("change");

        $(".select").selectpicker("refresh");
    }

    function clearData() {
        clearAll();
        $('.select').prop("selectedIndex", 0);
        $(".select").selectpicker("refresh");
        $('#form').parsley().reset();

        $("#ConsecutiveLotCount").val($("#ConsecutiveLotCount").data("default"))
    }
</script>
}