﻿@{
    var roleList = (List<string>)ViewBag.RoleList;
}
@using IQA.Services.SettingData;

<link rel="stylesheet" href="/Content/bootstrap-table.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/parsley.css?v=@PageData["xversion"]">

<div class="container-fluid">
    <div class="row">
        <h2>
            @ViewBag.Header
        </h2>
        <div class="row">
            <div class="col-md-3 col-lg-2 col-xs-4 form-group">
                <select id="configurationSelect" class="form-control">
                    <option value="iqa_inventory_item">Part</option>
                    <option value="iqa_inventory">Sub Inventory</option>
                    <option value="iqa_manufacturer">Manufacturer</option>
                    <option value="iqa_part_location">Part Location</option>
                    <option value="iqa_employee_manager">User Manager</option>
                    <option value="iqa_inspection_record_category">Inspection Category</option>
                    @if (roleList.Contains(RoleEnum._MANAGER.GetKey()) || roleList.Contains(RoleEnum._ENGINEER.GetKey()))
                    {
                        <option value="iqa_setting">System Setting</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="border:0px; box-shadow:none">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <button class="btn btn-primary" id="addBtn">Add New Part</button>
                                <button class="btn btn-primary" id="updatePartBtn" style="margin-left:15px">Update Part From PLM</button>
                            </div>
                        </div>
                        <div class="row otherDiv">
                            <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                                <table id="etcConfigurationTable" style="width:100%">
                                </table>
                            </div>
                        </div>
                        <div class="row partDiv">
                            <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                                <table id="configurationTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                                            <th data-field="PartNumber">Part Number</th>
                                            <th data-field="Description">Description</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detailModal" class="modal fade modal-right" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" id="entryForm" data-parsley-validate="true" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="configurationTitle">Part</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div id="form">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/bootstrap/bootstrap-table.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/bootstrap/bootstrap-select.min.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/parsley.js?v=@PageData["xversion"]"></script>
    <script>
        var newJson = {};

        function actionFormatter(value, row, index) {
            if ($("#configurationSelect").val() == "iqa_setting") {
                return [
                    '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                    '<i class="glyphicon glyphicon-edit"></i>',
                    '</a>'
                ].join('');
            }
            else {
                return [
                    '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                    '<i class="glyphicon glyphicon-edit"></i>',
                    '</a>',
                    '&nbsp;&nbsp;&nbsp;',
                    '<a class="delete ml10" href="javascript:void(0)" title="Delete">',
                    '<i class="glyphicon glyphicon-trash"></i>',
                    '</a>'
                ].join('');
            }
        }

        window.actionEvents = {
            'click .edit': function (e, value, row, index) {
                console.log("123");
                editEvent(e, value, row, index);
            },
            'click .delete': function (e, value, row, index) {
                deleteEvent(e, value, row, index);
            }
        }

        $(document).ready(function () {
            updateConfluenceLink("display/XcadiaESD/ESD+Dashboard+-+Training+and+Use+Case");
            globalDivision = [];
            $("#ddlDiv").hide();

            $(document).on("change", "#configurationSelect", function () {
                if ($(this).val() == "iqa_setting") {
                    $("#addBtn").hide();
                }
                else {
                    $("#addBtn").show();
                }
                renderDataTable();
            });

            $(document).on("click", "#addBtn", function () {
                clearInput();
                $("#detailModal").modal({
                    show: true,
                    keyboard: false
                });
            });

            $(document).on("click", "#updatePartBtn", function () {
                var wMsg = new wMessage();
                $spinner.addClass('loader');

                PostData_Ajax(wMsg, "/IQA/api/Configuration/UpdatePartFromPlm").then(function (data) {
                    $spinner.removeClass('loader');
                    if (data.Status == -1) {
                        ShowNotification("Update failed. Please try again.");
                    } else {
                        ShowNotification(data.Description, "success");
                        refreshTable();
                    }
                });
            });

            $(document).on("submit", "#entryForm", function (e) {
                getNewData();
                var url = "/IQA/api/Configuration/CreateOrUpdateConfiguration?database=" + $("#configurationSelect").val();
                console.log(newJson);
                $spinner.addClass("loader");
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $spinner.removeClass('loader');
                        if (data.Status == -1) {
                            ShowNotification("Update failed. Please try again.", "error");
                        }
                        else {
                            refreshTable();
                            $("#detailModal").modal("hide");
                            ShowNotification(data.Description, "success");
                        }
                    }
                });
                e.preventDefault();
            });

            function renderDataTable() {
                $("#addBtn").html("Add New " + $("#configurationSelect option:selected").text());
                $("#configurationTitle").html($("#configurationSelect option:selected").text());

                refreshTable();
                initForm();
            }

            renderDataTable();
        });

        function clearInput() {
            for (var i = 0; i < newJson.InputField.length; i++) {
                $("#" + newJson.InputField[i].Id).val(newJson.InputField[i].DefaultValue);
            }
        }

        function refreshTable() {
            if ($("#configurationSelect").val() == "iqa_inventory_item") {
                $(".otherDiv").hide();
                $(".partDiv").show();

                @if (roleList.Contains(RoleEnum._MANAGER.GetKey()) || roleList.Contains(RoleEnum._ENGINEER.GetKey()))
                {
                    @:$("#updatePartBtn").show();
                }

                $spinner.addClass('loader');
                $("#configurationTable").bootstrapTable({
                    url: "/IQA/api/Configuration/GetData?table=" + $("#configurationSelect").val(),
                    sidePagination: "server",
                    pagination: true,
                    totalRows: 10,
                    totalField: "TotalCount",
                    dataField: "Data",
                    search: true,
                    onLoadSuccess: function (data) {
                        $spinner.removeClass('loader');
                    }
                });
            }
            else {
                $(".otherDiv").show();
                $(".partDiv").hide();
                $("#updatePartBtn").hide();

                var obj = {};
                obj.url = "/IQA/api/Configuration/GetData?table=" + $("#configurationSelect").val();
                $spinner.addClass('loader');
                return GetData_Ajax(obj).then(function (data) {
                    $spinner.removeClass('loader');

                    $("#etcConfigurationTable").empty();
                    var tableObj = {};
                    tableObj.id = "etcConfigurationTable";
                    tableObj.data = data.Body;
                    tableObj.hideColumn = "Id, UpdatedTime, Status, IsValid";
                    tableObj.action = true;

                    for (var i = 0, m = data.Body.length; i < m; i++) {
                        var columns = data.Body[i];
                        for (var column in columns) {
                            if (column == "UpdatedTime") {
                                var date = new Date(data.Body[i][column]);
                                if (date != "Invalid Date") {
                                    data.Body[i][column] = moment(date).format('YYYY-MM-DD HH:mm:ss');
                                }
                            }
                        }
                    }
                    RenderBootstrapTable(tableObj);

                    if (data.Body.length != 0) {
                        if ($("#configurationSelect").val() == "iqa_employee_manager") {
                            $("#tableetcConfigurationTable").bootstrapTable('hideColumn', 'UserId');
                            $("#tableetcConfigurationTable").bootstrapTable('hideColumn', 'ManagerId');
                        }
                    }
                });
            }
        }

        function deleteEvent(e, value, row, index) {
            getNewData();
            var url = "/IQA/api/Configuration/CreateOrUpdateConfiguration?database=" + $("#configurationSelect").val();

            var formData = new FormData();
            formData.append("Id", row.Id);
            formData.append("Status", "false");

            $spinner.addClass("loader");
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $spinner.removeClass('loader');
                    if (data.Status == -1) {
                        ShowNotification("Update failed. Please try again.", "error");
                    }
                    else {
                        refreshTable();
                        ShowNotification(data.Description, "success");
                    }
                }
            });
        }

        function editEvent(e, value, row, index) {
            id = row.Id;

            var obj = {};
            obj.url = "/DE/api/DataEntryForm/GetRecord?database=" +
                $("#configurationSelect").val() +
                "&table=" +
                $("#configurationSelect").val() +
                "&id=" +
                row.Id;

            $spinner.addClass("loader");
            GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');
                if (data.Status == -1) {
                    ShowNotification(data.Description, "error");
                } else {
                    var columns = data.Body[0];
                    PopulateFormValue(columns);
                    $('#form').parsley().reset();
                    $("#detailModal").modal({
                        show: true,
                        keyboard: false
                    });
                }
            });
        }

        function initForm() {
            obj.url = "/DE/api/DataEntryForm/GetForm?module=" + $("#configurationSelect").val();
            $spinner.addClass('loader');
            GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');
                if (data.Status == -1) {
                    ShowNotification(data.Description, "error");
                    $spinner.removeClass('loader');
                }
                else {
                    $("#form").empty();
                    var obj = JSON.parse(data.Body[0].criteria);
                    newJson = clone(obj);
                    obj.id = "form";
                    RenderForm(obj);

                    $("#entryForm input").each(function () {
                        if ($(this).css('visibility') == "visible") {
                            $(this).attr("required", true);
                        }
                    });
                    $('#form').parsley().reset();
                }
            });
        }
    </script>
}