﻿@{
    var roleList = (List<string>)ViewBag.RoleList;
}
@using IQA.Services.SettingData;
@using IQA.Database.CustomModel;

<link rel="stylesheet" href="/Content/bootstrap-table.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/parsley.css?v=@PageData["xversion"]">
<style>
    .fixed-table-body {
        overflow: visible
    }

    .dropdown-item:hover {
        text-decoration: none;
    }

    td {
        vertical-align: middle !important;
    }

    .contentSummary {
        font-size: 16px;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-container thead th, .fixed-table-container tbody td, .fixed-table-container tr {
        border: 1px solid #dddddd !important;
        text-align:center;
    }

    .widget.unvisited {
        opacity: 0.5;
    }
</style>
<div class="row">
    <h2>
        @ViewBag.Header
    </h2>
</div>
<div class="content" id="content">
    <div class="row form-group">
        <div class="col-md-4 col-xs-6 col-lg-3 ">
            <div class="widget widget-stats active">
                <a href="javascript:;" class="contentLink" id="nmrDescription">
                    <div class="stats-info">
                        <span id="nmrDescriptionDiv" class="contentSummary"></span>
                        <div style="white-space:nowrap; margin-top:10px">NMR Issuance</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 col-lg-3">
            <div class="widget widget-stats unvisited">
                <a href="javascript:;" class="contentLink" id="iqaDeactivation">
                    <div class="stats-info">
                        <span id="iqaDeactivationDiv" class="contentSummary"></span>
                        <div style="white-space:nowrap; margin-top:10px">IQA Deactivation</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 col-lg-3">
            <div class="widget widget-stats unvisited">
                <a href="javascript:;" class="contentLink" id="trainingDocument">
                    <div class="stats-info">
                        <span id="trainingDocumentDiv" class="contentSummary"></span>
                        <div style="white-space:nowrap; margin-top:10px">Training Document</div>
                    </div>
                </a>
            </div>
        </div>
        @if (roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            <div class="col-md-4 col-xs-6 col-lg-3">
                <div class="widget widget-stats unvisited">
                    <a href="javascript:;" class="contentLink" id="oracleUpdate">
                        <div class="stats-info">
                            <span id="oracleUpdateDiv" class="contentSummary"></span>
                            <div style="white-space:nowrap; margin-top:10px">Oracle Update</div>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (roleList.Contains(RoleEnum._ENGINEER.GetKey()) || roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            <div class="col-md-4 col-xs-6 col-lg-3">
                <div class="widget widget-stats unvisited">
                    <a href="javascript:;" class="contentLink" id="activation">
                        <div class="stats-info">
                            <span id="activationDiv" class="contentSummary"></span>
                            <div style="white-space:nowrap; margin-top:10px">Activation</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-lg-3">
                <div class="widget widget-stats unvisited">
                    <a href="javascript:;" class="contentLink" id="activationDocument">
                        <div class="stats-info">
                            <span id="activationDocumentDiv" class="contentSummary"></span>
                            <div style="white-space:nowrap; margin-top:10px">Activation IIP</div>
                        </div>
                    </a>
                </div>
            </div>
        }
        <div class="col-md-4 col-xs-6 col-lg-3">
            <div class="widget widget-stats unvisited">
                <a href="javascript:;" class="contentLink" id="lotExtension">
                    <div class="stats-info">
                        <span id="lotExtensionDiv" class="contentSummary"></span>
                        <div style="white-space:nowrap; margin-top:10px">Lot Extension</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="nmrDescriptionContent">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <h4><b>NMR Issuance</b></h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                        <table id="nmrIssuanceTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="iqaDeactivationContent">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <h4><b>IQA Deactivation</b></h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                        <table id="iqaDeactivationTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="trainingDocumentContent">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <h4><b>Activation Training Document Request</b></h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                        <table id="activationTrainingDocumentTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
        @if (roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="oracleUpdateContent">
                <div class="panel panel-default" style="border:0px; box-shadow:none">
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 col-lg-12">
                            <h4><b>Oracle Update Request</b></h4>
                        </div>
                        <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                            <table id="oracleUpdateTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (roleList.Contains(RoleEnum._ENGINEER.GetKey()) || roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="activationContent">
                <div class="panel panel-default" style="border:0px; box-shadow:none">
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 col-lg-12">
                            <h4><b>Activation Request</b></h4>
                        </div>
                        <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                            <table id="activationRequestTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="activationDocumentContent">
                <div class="panel panel-default" style="border:0px; box-shadow:none">
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 col-lg-12">
                            <h4><b>Activation Document Update Request</b></h4>
                        </div>
                        <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                            <table id="activationDocumentRequestTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-12 col-xs-12 col-lg-12 detailTable" id="lotExtensionContent">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <h4><b>Lot Extension Request</b></h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                        <table id="lotExtensionRequestTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="/Scripts/bootstrap/bootstrap-table.js?v=@PageData["xversion"]"></script>
<script src="~/Scripts/bootstrap/bootstrap-select.min.js?v=@PageData["xversion"]"></script>
<script src="~/Scripts/parsley.js?v=@PageData["xversion"]"></script>
@{Html.RenderPartial("~/Views/Template/InspectionRecordModal.cshtml");}
@{Html.RenderPartial("~/Views/Template/DeactivationApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadDeactivateRequest(true);" } });}
@{Html.RenderPartial("~/Views/Template/NmrRequestModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadNmrRequest(true);" } });}
@{Html.RenderPartial("~/Views/Template/TrainingDocumentUpdateModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadActivationTrainingDocumentRequest(true);" } });}
@{Html.RenderPartial("~/Views/Template/LotExtensionModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadLotExtensionRequest(true);" } });};

@if (roleList.Contains(RoleEnum._ENGINEER.GetKey()) || roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
{
    Html.RenderPartial("~/Views/Template/ActivationApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadActivationApprovalRequest(true)" } });
    Html.RenderPartial("~/Views/Template/ActivationDocumentApprovalModal.cshtml", new ViewDataDictionary { { "Callback", "refreshData(false);loadActivationDocumentRequest(true)" } });
}
<script>
    function actionFormatter(value, row, index) {
        var formatter = "<div class='dropdown'>"+
                            "<a href='javascript:;' class='dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>"+
                                "<i class='glyphicon glyphicon-cog'></i>"+
                            "</a>"+
                            "<ul class='dropdown-menu'>";

        if (row.TableName == "Nmr")
        {
            formatter += '<li><a class="dropdown-item updateRejectInfo" data-id="' + row.Id + '" data-partid="' + row.PartId +'" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;Update NMR</a></li>';
        }
        else if (row.TableName == "Deactivation")
        {
            formatter += '<li><a class="dropdown-item updateDeactivationStatus" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Deactivation Request</a></li>';
        }
        else if (row.TableName == "ActivationDocument")
        {
            formatter += '<li><a class="dropdown-item updateDocumentUpdateStatus" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-ok-sign"></i>&nbsp;&nbsp;View Document Update Request</a></li>';
        }
        else if (row.TableName == "ActivationApproval")
        {
            formatter += '<li><a class="dropdown-item updateApprovalStatus" data-status="@ActivationStatusEnum._ACTIVE.GetId()" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Activation Request</a></li>';
        }
        else if (row.TableName == "TrainingRequest")
        {
            formatter += '<li><a class="dropdown-item requestTrainingDocumentUpdate" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;Update Training Document</a></li>';
        }
        else if (row.TableName == "Oracle") {
            console.log(row.KeyX1Q1R1);
            if (!row.KeyX1Q1R1)
            {
                formatter += '<li><a class="dropdown-item UpdateOracleKey" data-key="@OracleSettingObject._KEY_X1Q1R1" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;Update X1Q1R1</a></li>';
            }

            if (row.Status.toString() == "@ActivationStatusEnum._COMPLETED.GetId()" && !row.KeyX1WPR1)
            {
                formatter += '<li><a class="dropdown-item UpdateOracleKey" data-key="@OracleSettingObject._KEY_X1WPR1" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-check"></i>&nbsp;&nbsp;Update X1Q1R1</a></li>';
            }
        }
        else
        {
            formatter += '<li><a class="dropdown-item updateExtensionStatus" data-count="' + row.LotCount + '" data-id="' + row.Id + '" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;View Lot Extension Request</a></li>';
        }

        formatter += "</ul></div>";
        return formatter;
    }

    window.actionEvents = {
        'click .updateDocumentUpdateStatus': function (e, value, row, index) {
            showDocumentUpdateConfirmation(e, value, row, index);
        },
        'click .updateApprovalStatus': function (e, value, row, index) {
            showActivationConfirmation(e, value, row, index);
        },
        'click .updateDeactivationStatus': function (e, value, row, index) {
            showDeactivationConfirmation(e, value, row, index);
        }
    }

    $(document).ready(function () {
        updateConfluenceLink("display/XcadiaESD/ESD+Dashboard+-+Training+and+Use+Case");
        $("#ddlDiv").hide();
        $(".detailTable").hide();

        $(document).on("click", ".contentLink", function (e) {
            $(".detailTable").hide();
            $("#" + $(this).attr("id") + "Content").show();
            $(".contentLink").parent().removeClass("active");
            if ($(this).parent().hasClass("unvisited")) {
                $(this).parent().removeClass("unvisited");
            }

            $(this).parent().addClass("active");

            if ($(this).attr("id") == "activation") {
                loadActivationApprovalRequest(true);
            }
            else if ($(this).attr("id") == "nmrDescription") {
                loadNmrRequest(true);
            }
            else if ($(this).attr("id") == "iqaDeactivation") {
                loadDeactivateRequest(true);
            }
            else if ($(this).attr("id") == "trainingDocument") {
                loadActivationTrainingDocumentRequest(true);
            }
            else if ($(this).attr("id") == "activationDocument") {
                loadActivationDocumentRequest(true);
            }
            else if ($(this).attr("id") == "lotExtension") {
                loadLotExtensionRequest(true);
            }
            else if ($(this).attr("id") == "oracleUpdate") {
                loadOracleUpdateRequest(true);
            }
        });

        refreshData(false);

        $("#nmrDescription").trigger("click");

        $(document).on("click", ".updateStatus", function (e) {
            var formData = new FormData();
            formData.append("Id", $(this).data("id"));
            formData.append("Status", $(this).data("status"));
            submitForm(formData, e);
        });
    });

    function refreshData(render) {
        loadNmrRequest(render);
        loadDeactivateRequest(render);
        loadActivationTrainingDocumentRequest(render);

        @if(roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            @:loadOracleUpdateRequest(render);
        }

        @if(roleList.Contains(RoleEnum._ENGINEER.GetKey()) || roleList.Contains(RoleEnum._PERSONNEL.GetKey()))
        {
            @:loadActivationDocumentRequest(render);
            @:loadActivationApprovalRequest(render);
        }

        loadLotExtensionRequest(render);
    }
    function loadLotExtensionRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_LotExtension] @WebSecurity.CurrentUserId";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#lotExtensionRequestTable").addClass("loader2");
        $("#lotExtensionRequestTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (lotExtensionData) {
            $("#lotExtensionRequestTable").removeClass("loader2");
            $("#lotExtensionRequestTable").css("min-height", "");
            $("#lotExtensionRequestTable").empty();

            $("#lotExtensionDiv").html(lotExtensionData.Body.length);

            if (lotExtensionData.Body.length > 0) {

                if (render) {
                    var extensionTableObj = {};
                    extensionTableObj.id = "lotExtensionRequestTable";
                    extensionTableObj.hideColumn = "TableName, Id";
                    extensionTableObj.data = lotExtensionData.Body;
                     @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:extensionTableObj.action = true;
                    }
                    RenderBootstrapTable(extensionTableObj);
                }
            }
            else {
                $("#lotExtensionRequestTable").append("<div style='height:100%; text-align:center'><label>No Activation Document Update Request</label></div>");
            }
        });
    };

    function loadActivationDocumentRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_ActivationDocumentUpdateRequest]";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#activationDocumentRequestTable").addClass("loader2");
        $("#activationDocumentRequestTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (activationDocumentData) {
            $("#activationDocumentRequestTable").removeClass("loader2");
            $("#activationDocumentRequestTable").css("min-height", "");
            $("#activationDocumentRequestTable").empty();
            $("#activationDocumentDiv").html(activationDocumentData.Body.length);

            if (activationDocumentData.Body.length > 0) {
                if (render) {
                    var activationDocumentRequestObj = {};
                    activationDocumentRequestObj.id = "activationDocumentRequestTable";
                    activationDocumentRequestObj.activationDocumentData = activationDocumentData.Body;
                    activationDocumentRequestObj.hideColumn = "TableName, Id, Document";
                     @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:activationDocumentRequestObj.action = true;
                    }
                    RenderBootstrapTable(activationDocumentRequestObj);
                }
            }
            else {
                $("#activationDocumentRequestTable").append("<div style='height:100%; text-align:center'><label>No Activation Document Update Request</label></div>");
            }
        });
    };

    function loadActivationTrainingDocumentRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_ActivationApprovalRequest] @ActivationStatusEnum._PENDING_TRAINING_RECORD.GetId()";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#activationTrainingDocumentTable").addClass("loader2");
        $("#activationTrainingDocumentTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (activationTrainingDocumentData) {
            $("#activationTrainingDocumentTable").removeClass("loader2");
            $("#activationTrainingDocumentTable").css("min-height", "");
            $("#activationTrainingDocumentTable").empty();

            $("#trainingDocumentDiv").html(activationTrainingDocumentData.Body.length);

            if (activationTrainingDocumentData.Body.length > 0) {

                if (render) {
                    var activationApprovalTableObj = {};
                    activationApprovalTableObj.id = "activationTrainingDocumentTable";
                    activationApprovalTableObj.data = activationTrainingDocumentData.Body;
                    activationApprovalTableObj.hideColumn = "TableName, Id, RequestDocument, TrainingDocument";
                     @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:activationApprovalTableObj.action = true;
                    }
                    RenderBootstrapTable(activationApprovalTableObj);
                }
            }
            else {
                $("#activationTrainingDocumentTable").append("<div style='height:100%; text-align:center'><label>No Activation Training Document Request</label></div>");
            }
        });
    };

    function loadOracleUpdateRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_ActivationOracleUpdateRequest]";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#oracleUpdateTable").addClass("loader2");
        $("#oracleUpdateTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (activationOracleApprovalData) {
            $("#oracleUpdateTable").removeClass("loader2");
            $("#oracleUpdateTable").css("min-height", "");
            $("#oracleUpdateTable").empty();
            console.log(activationOracleApprovalData);
            $("#oracleUpdateDiv").html(activationOracleApprovalData.Body.length);
            if (activationOracleApprovalData.Body.length > 0) {

                if (render) {
                    var activationOracleUpdateTableObj = {};
                    activationOracleUpdateTableObj.id = "oracleUpdateTable";
                    activationOracleUpdateTableObj.data = activationOracleApprovalData.Body;
                    activationOracleUpdateTableObj.action = true;
                    activationOracleUpdateTableObj.hideColumn = "TableName, Id, KeyX1Q1R1, KeyX1WPR1, Status";
                    RenderBootstrapTable(activationOracleUpdateTableObj);
                }
            }
            else {
                $("#oracleUpdateTable").append("<div style='height:100%; text-align:center'><label>No Oracle Update Request</label></div>");
            }
        });
    };

    function loadActivationApprovalRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_ActivationApprovalRequest] @ActivationStatusEnum._REQUEST_ACTIVATION.GetId()";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#activationRequestTable").addClass("loader2");
        $("#activationRequestTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (activationApprovalData) {
            $("#activationRequestTable").removeClass("loader2");
            $("#activationRequestTable").css("min-height", "");
            $("#activationRequestTable").empty();

            $("#activationDiv").html(activationApprovalData.Body.length);
            if (activationApprovalData.Body.length > 0) {

                if (render) {
                    var activationApprovalTableObj = {};
                    activationApprovalTableObj.id = "activationRequestTable";
                    activationApprovalTableObj.data = activationApprovalData.Body;
                     @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:activationApprovalTableObj.action = true;
                    }
                    activationApprovalTableObj.hideColumn = "TableName, Id, RequestDocument, TrainingDocument";
                    RenderBootstrapTable(activationApprovalTableObj);
                }
            }
            else {
                $("#activationRequestTable").append("<div style='height:100%; text-align:center'><label>No Activation Request</label></div>");
            }
        });
    };

    function loadDeactivateRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_DeactivationRequest] @WebSecurity.CurrentUserId";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#iqaDeactivationTable").addClass("loader2");
        $("#iqaDeactivationTable").css("min-height", "300px");

        return GetData_SP(obj).then(function (deactivationData) {
            $("#iqaDeactivationTable").removeClass("loader2");
            $("#iqaDeactivationTable").css("min-height", "");
            $("#iqaDeactivationTable").empty();

            $("#iqaDeactivationDiv").html(deactivationData.Body.length);
            if (deactivationData.Body.length > 0) {
                if (render) {
                    var deactivationTableObj = {};
                    deactivationTableObj.id = "iqaDeactivationTable";
                    deactivationTableObj.data = deactivationData.Body;
                    deactivationTableObj.hideColumn = "TableName, Id";
                     @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:deactivationTableObj.action = true;
                    }
                    RenderBootstrapTable(deactivationTableObj);
                }
            }
            else {
                $("#iqaDeactivationTable").append("<div style='height:100%; text-align:center'><label>No Deactivation Request</label></div>");
            }
        });
    };

    function loadNmrRequest(render) {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_NmrRequest] @WebSecurity.CurrentUserId";
        console.log(content.sp);
        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $("#nmrIssuanceTable").addClass("loader2");
        $("#nmrIssuanceTable").css("min-height", "300px");
        return GetData_SP(obj).then(function (nmrData) {
            $("#nmrIssuanceTable").removeClass("loader2");
            $("#nmrIssuanceTable").css("min-height", "");
            $("#nmrIssuanceTable").empty();

            $("#nmrDescriptionDiv").html(nmrData.Body.length);

            if (nmrData.Body.length > 0) {
                if (render) {
                    var nmrTableObj = {};
                    nmrTableObj.id = "nmrIssuanceTable";
                    nmrTableObj.hideColumn = "TableName, Id";
                    nmrTableObj.data = nmrData.Body;
                    @if(!roleList.Contains(RoleEnum._PERSONNEL.GetKey()) || roleList.Count() > 1)
                    {
                        @:nmrTableObj.action = true;
                    }
                    RenderBootstrapTable(nmrTableObj);
                }
            }
            else {
                $("#nmrIssuanceTable").append("<div style='height:100%; text-align:center'><label>No NMR Request</label></div>");
            }
        })
    }

    function showDocumentUpdateConfirmation(e, value, row, index) {
        $("#activationDocumentApprovalForm .Id").val(row.Id);
        $("#activationDocumentApprovalForm #ActivationUsername").val(row.email);
        $("#activationDocumentApprovalForm #RequestDocument").val(row.Document);
        $("#activationDocumentApprovalForm .previewBtn").attr("data-path", row.Document);

        $("#activationDocumentApprovalModal").modal({
            show: true,
            keyboard: false
        });
    }
</script>
}