﻿@{
    var roleList = (List<string>)ViewBag.RoleList;
}
@using IQA.Services.SettingData;

<link rel="stylesheet" href="/Content/bootstrap-table.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-multiselect.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/parsley.css?v=@PageData["xversion"]">
<style>
    .fixed-table-body {
        overflow: visible !important;
        margin-bottom: 50px;
    }

    .dropdown-item:hover {
        text-decoration: none;
    }

    td {
        vertical-align: middle !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-container thead th, .fixed-table-container tbody td, .fixed-table-container tr {
        border: 1px solid #dddddd !important;
        text-align: center;
    }
</style>
<div class="row">
    <h2>
        @ViewBag.Header
    </h2>
</div>
<div class="content" id="content">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    @if (roleList.Contains(RoleEnum._INSPECTOR.GetKey()))
                    {
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <button class="btn btn-primary" id="addBtn">Add Inspection Record</button>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 form-group">
                            <label>User can search inspection record from the criteria given</label>
                        </div>
                    </div>
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Part</label>
                                <input class="form-control" type="text" name="PartFilterId" id="PartFilterId">
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Manufacturer</label>
                                <select class="form-control multiselect" multiple="multiple" name="ManufacturerFilterId" id="ManufacturerFilterId">
                                    @foreach (var ea in ViewBag.Manufacturer)
                                    {
                                        <option value="@ea.Id">@ea.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Inspection Start Date</label>
                                <input class="form-control datetimePickerFilter" type="text" name="StartDateFilterId" id="StartDateFilterId" autocomplete="off">
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Inspection End Date</label>
                                <input class="form-control datetimePickerFilter" type="text" name="EndDateFilterId" id="EndDateFilterId" autocomplete="off">
                            </div>
                            <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                                <label>Activation</label>
                                <select class="form-control multiselect" multiple="multiple" name="ActivationFilterId" id="ActivationFilterId">
                                    @foreach (var ea in ViewBag.Activation)
                                    {
                                        <option value="@ea.Id">@(ea.PartNumber+" ("+ea.ActivationTime+")")</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 col-xs-6 form-group">
                            <label>&nbsp;</label><br />
                            <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                            <table id="inspectionTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detailModal" class="modal fade modal-right" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="configurationTitle">Part</h4>
            </div>
            <div class="modal-body" style="overflow:auto">
                <form id="form" data-parsley-validate="true" autocomplete="off">
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Received Date : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control datetimePicker" required type="text" name="ReceivedTime" id="ReceivedTime">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Inspected Date : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control datetimePicker" required type="text" name="InspectionTime" id="InspectionTime">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Part : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" required type="text" name="PartNumber" id="PartNumber">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Manufacturer : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <select class="form-control select" required name="ManufacturerId" id="ManufacturerId" data-live-search="true" 
                                    data-size="8" data-parsley-errors-container="#errorManufacturer">
                                <option selected disabled>Please Select</option>
                                @foreach (var ea in ViewBag.Manufacturer)
                                {
                                    <option value="@ea.Id">@ea.Name</option>
                                }
                            </select>
                            <div id="errorManufacturer"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Category : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <select class="form-control select" required name="CategoryId" id="CategoryId" data-live-search="true" data-size="8" data-parsley-errors-container="#errorCategory">
                                <option selected disabled>Please Select</option>
                                @foreach (var ea in ViewBag.RecordCategory)
                                {
                                    <option value="@ea.Id">@ea.Name</option>
                                }
                            </select>
                            <div id="errorCategory"></div>
                        </div>
                    </div>
                    <div class="row form-group" id="MtiFormNumberDiv">
                        <label class="col-md-4 col-lg-4 col-xs-4">MTI Form No : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" type="text" name="MtiFormNumber" id="MtiFormNumber">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Requestor : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <select class="form-control select" required name="RequestorId" id="RequestorId" data-live-search="true" data-size="8" data-parsley-errors-container="#errorRequestor">
                                <option selected disabled>Please Select</option>
                                @foreach (var ea in ViewBag.User)
                                {
                                    <option value="@ea.user_id">@ea.email</option>
                                }
                            </select>
                            <div id="errorRequestor"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> GPB / RI / DB # : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" type="text" name="GPBNumber" id="GPBNumber" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Lot/Batch/Datecode : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" type="text" name="BatchNumber" id="BatchNumber" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Inspector : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <select class="form-control select" required name="InspectorId" id="InspectorId" disabled data-live-search="true" data-size="8">
                                @foreach (var ea in ViewBag.User)
                                {
                                    <option value="@ea.user_id">@ea.email</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Inspected Quantity : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" required type="text" data-parsley-type="number" data-parsley-min="0" name="InspectedQty" id="InspectedQty">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Accepted Quantity: </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" required type="text" data-parsley-type="number" data-parsley-min="0" name="AcceptedQty" id="AcceptedQty">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4">Remark : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" type="text" name="Remark" id="Remark">
                        </div>
                    </div>
                    <input type="hidden" class="form-control Id" name="Id" />
                    <input type="hidden" id="Status" name="Status" value="true" />
                </form>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" id="btnSubmit" value="Save">
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/bootstrap/bootstrap-table.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/bootstrap/bootstrap-select.min.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/bootstrap/bootstrap-multiselect.js?v=@PageData["xversion"]"></script>
    <script src="~/Scripts/parsley.js?v=@PageData["xversion"]"></script>
    @{Html.RenderPartial("~/Views/Template/NmrRequestModal.cshtml", new ViewDataDictionary { { "Callback", "renderDataTable()" } });}
<script>
        function actionFormatter(value, row, index) {
            var formatter = "-";

            if ("@WebSecurity.CurrentUserId" == row.InspectorId.toString()) {
                formatter = "<div class='dropdown'>" +
                    "<a href='javascript:;' class='dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                    "<i class='glyphicon glyphicon-cog'></i>" +
                    "</a>" +
                    "<ul class='dropdown-menu'>";

                formatter += '<li><a class="dropdown-item edit" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Edit</a></li>';
                formatter += '<li><a class="dropdown-item delete" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;Delete</a></li>';

                if (row.FailedQty != 0 && (row.NmrNumber === null || row.NmrNumber.length == 0)) {
                    formatter += '<li><a class="dropdown-item updateRejectInfo" data-id="' + row.Id + '" data-partid="' + row.PartId+'" href="javascript:;">&nbsp;&nbsp;<i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;Update NMR</a></li>';
                }

                formatter += "</ul></div>";
            }

            return formatter;
        }

        window.actionEvents = {
            'click .edit': function (e, value, row, index) {
                editEvent(e, value, row, index);
            },
            'click .delete': function (e, value, row, index) {
                deleteEvent(e, value, row, index);
            }
        }

        $(document).ready(function () {
            $("#ddlDiv").hide();
            $(".select").selectpicker();
            updateConfluenceLink("display/XcadiaESD/ESD+Dashboard+-+Training+and+Use+Case");

            $(".multiselect").multiselect({
                includeSelectAllOption: true,
                includeFilterClearBtn: false,
                enableFiltering: true,
                maxHeight: 200,
                buttonContainer: '<div class="btn-group" style="width:100%" />',
                buttonClass: 'btn btn-default form-control',
            });

            $(".failDiv").hide();
            $(".datetimePicker").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm'
                },
                maxDate: moment()
            });

            $('.datetimePickerFilter').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                timePicker: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mm'
                }
            });
            $(".datetimePickerFilter").val('');

            $(document).on("click", "#btnSubmit", function (e) {
                $("#form").trigger("submit");
            });

            $(document).on("submit", "#form", function (e) {
                var data = new FormData(this);
                data.append("InspectorId", $('#InspectorId').val());
                submitForm(data, e);
            });

            $(document).on("click", "#addBtn", function () {
                clearData();
                $("#CategoryId").trigger("change");

                $("#detailModal").modal({
                    show: true,
                    keyboard: false
                });
            });

            $(document).on("input", "#InspectedQty", function (e) {
                $("#AcceptedQty").attr("data-parsley-max", $(this).val());
            });

            $(document).on("click", "#searchBtn", function (e) {
                renderDataTable();
            });

            $(document).on("change", "#CategoryId", function (e) {
                $('#form').parsley().destroy();
                if ($("#CategoryId option:selected").text() == "MTI") {
                    $("#MtiFormNumberDiv").show();
                    $("#MtiFormNumber").attr("required", "required");
                }
                else {
                    $("#MtiFormNumberDiv").hide();
                    $("#MtiFormNumber").removeAttr("required");
                }
                $('#form').parsley();
            });

            $("#searchBtn").trigger("click");
        });

        function renderDataTable() {
            var queryData = {};
            queryData["PartNumber"] = $("#PartFilterId").val();
            queryData["ManufacturerId"] = $("#ManufacturerFilterId").val();

            if ($("#StartDateFilterId").val() !== "") {
                queryData["StartTime"] = $("#StartDateFilterId").val();
            }

            if ($("#EndDateFilterId").val() !== "") {
                queryData["EndTime"] = $("#EndDateFilterId").val();
            }

            if ($("#ActivationFilterId").val() !== "") {
                queryData["ActivationId"] = $("#ActivationFilterId").val();
            }

            $spinner.addClass('loader');
            $.ajax({
                url: "/IQA/api/Activation/GetInspectionData",
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(queryData),
                success: function (data) {
                    $spinner.removeClass('loader');
                    $("#inspectionTable").empty();
                    var tableObj = {};
                    tableObj.id = "inspectionTable";
                    tableObj.data = data.Body;
                    tableObj.action = true;
                    RenderBootstrapTable(tableObj);
                    if (tableObj.data.length != 0) {
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'PartId');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'ActivationId');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'ManufacturerId');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'UpdatedTime');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'CreatedTime');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'Id');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'RequestorId');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'Status');
                        $("#tableinspectionTable").bootstrapTable('hideColumn', 'InspectorId');

                        $("#tableinspectionTable").bootstrapTable("refreshOptions", {
                            trimOnSearch: false,
                            onAll: function (a, b) {
                                var index = 0;
                                $("#tableinspectionTable thead tr th").each(function (i, row) {
                                    if ($(this).data("field") == "RecordStatus") {
                                        index = i;
                                    }
                                });
                                index++;
                                $("#tableinspectionTable tbody tr").each(function (i, row) {
                                    var $row = $(row);
                                    $row.find("td:nth-child(" + index + ")").css("background", $row.find("td:nth-child(" + index + ")").text() == "Completed" ? "#83C660" : "#FFFF00");
                                    $row.find("td:nth-child(" + index + ")").css("color", "#1B1B1F"); 
                                });
                            }
                        });
                    }
                }
            });
        }

        function submitForm(data, e) {
            $spinner.addClass("loader");
            $.ajax({
                url: '/IQA/api/Activation/CreateOrUpdateInspectionRecord',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    $spinner.removeClass('loader');
                    if (data.Status == -1) {
                        ShowNotification(data.Description, "error");
                    }
                    else {
                        $('#detailModal').modal('hide');
                        ShowNotification(data.Description, "success");
                        renderDataTable();
                    }
                }
            });
            e.preventDefault();
        }

        function deleteEvent(e, value, row, index) {
            var formData = new FormData();

            formData.append("Id", row.Id);
            formData.append("Status", "false");
            submitForm(formData, e);
        }

        function clearData() {
            clearAll();
            $('#form').parsley().reset();
            $('#detailModal .select').prop("selectedIndex", 0);

            $("#InspectorId").val("@WebSecurity.CurrentUserId");
            $("#detailModal .select").selectpicker("refresh");

            $("#ConsecutiveLotCount").val($("#ConsecutiveLotCount").data("default"))
        }

        function editEvent(e, value, row, index) {
            updateValue(row);

            $("#detailModal").modal({
                show: true,
                keyboard: false
            });
        }

    function updateValue(data) {
            var dataKey = Object.keys(data);

            for (var i = 0; i < dataKey.length; i++) {
                $("[name='" + dataKey[i] + "']").val(data[dataKey[i]]);
                $("[name='" + dataKey[i] + "']").trigger("input");

            }
            $('#form').parsley().reset();
            $("#CategoryId").trigger("change");
            $(".select").selectpicker("refresh");
        }
</script>
}