﻿@using IQA.Services.SettingData;

<link rel="stylesheet" href="/Content/bootstrap-table.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css?v=@PageData["xversion"]">
<link rel="stylesheet" href="~/Content/parsley.css?v=@PageData["xversion"]">
<style>
    .fixed-table-body {
        overflow: visible
    }

    .dropdown-item:hover {
        text-decoration: none;
    }

    td {
        vertical-align: middle !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-body tr {
        background: transparent !important;
    }

    .fixed-table-container thead th, .fixed-table-container tbody td, .fixed-table-container tr {
        border: 1px solid #dddddd !important;
        text-align: center;
    }
</style>
<div class="row">
    <h2>
        Monthly IQA Reject Trend
    </h2>
</div>
<div class="content" id="content">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-default" style="border:0px; box-shadow:none">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-lg-12">
                        <div id="failingDetailChart" class="tableGroup"></div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 table-responsive">
                        <table id="failingDetailTable" class="tableGroup" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="/Scripts/bootstrap/bootstrap-table.js?v=@PageData["xversion"]"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/chart")
    <script>

    $(document).ready(function () {
        $("#ddlDiv").hide();
        updateConfluenceLink("display/XcadiaESD/ESD+Dashboard+-+Training+and+Use+Case");
        loadFailingTrend();
    });

    function loadFailingTrend() {
        var wMsg = new wMessage();
        var content = {};
        content.sp = "[IQA_FailInspectionData]";

        wMsg.Body = content;
        obj.wMsg = wMsg;
        obj.api = "GetData_SP";

        $(".tableGroup").addClass("loader2");
        $(".tableGroup").css("min-height", "300px");

        return GetData_SP(obj).then(function (data) {
            $(".tableGroup").removeClass("loader2");
            $(".tableGroup").css("min-height", "");

            $(".tableGroup").empty();

            if (data.Body.length != 0) {
                var reportData = {};
                reportData.id = "failingDetailTable";
                reportData.data = data.Body;
                reportData.hideColumn = "Month"
                RenderBootstrapTable(reportData);
            }

            var category = [];
            var series = [];

            var startingDate = moment(moment().format('YYYY') + '-11-01');
            if (moment().diff(startingDate, 'days') < 0) {
                var startingDate = startingDate.subtract(1, 'years');
            }

            while (moment(moment().format('YYYY-MM') + '-01').diff(startingDate, 'months') >= 0) {
                var month = startingDate.format("MMM YYYY");
                category.push(month);

                var filterData = data.Body.filter(function (e) { return e.Month == month });
                var rejectQty = filterData.reduce(function (total, currentValue) {
                    return total + currentValue.RejectQty;
                }, 0);

                series.push(rejectQty);
                startingDate = startingDate.add(1, 'M');
            }

            var obj = {};
            obj.id = "failingDetailChart";
            obj.options = {
                chart: {
                    type: 'column',
                    height: 275,
                },
                xAxis: {
                    categories: category,
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                series: [
                    {
                        name: "Month",
                        data: series
                    }
                ]
            };

            RenderChart(obj);
        });
    };
    </script>
}