﻿@using IQA.Services.SettingData;
<div id="activationLogModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activation Log</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12 col-lg-12 col-xs-12 table-responsive">
                        <table id="activationLogTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".viewHistory", function () {
            obj.url = "/IQA/api/Activation/ReadActivationLog?activationId=" + $(this).data("id");
            $spinner.addClass('loader');
            return GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');
                console.log(data.Body);
                $("#activationLogTable").empty();
                var logTableObj = {};
                logTableObj.id = "activationLogTable";
                logTableObj.data = data.Body;

                RenderBootstrapTable(logTableObj);
                if (logTableObj.data.length != 0) {
                    $("#activationLogTable").bootstrapTable('hideColumn', 'Id');
                }

                $("#activationLogModal").modal({
                    show: true,
                    keyboard: false
                });
            })
        });
    });
</script>