﻿<div id="documentUpdateModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="documentUpdateForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activation Document Update</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-8 col-lg-8 col-xs-8 table-responsive">
                            <input id="documentUpdateTxt" name="documentUpdateTxt" type="file" required class="file form-control" data-show-preview="false">
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4">
                            <a href="" class="btn btn-primary form-control downloadActivationTemplateBtn">Download</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="ActivationId" class="ActivationId" />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".requestDocumentUpdate", function () {

            obj.url = "/IQA/api/Configuration/GetActivationDocument";
            $spinner.addClass('loader');
            GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');
                if (data.Status == -1) {
                    ShowNotification(data.Description, "error");
                }
                else {
                    $(".downloadActivationTemplateBtn").attr("href", data.Body);
                }

                $(".ActivationId").val($(this).data("id"));
                $("#documentUpdateModal").modal({
                    show: true,
                    keyboard: false
                });
            });
        });

        $(document).on("submit", "#documentUpdateForm", function (e) {
            var formData = new FormData(this);
            $spinner.addClass("loader");
            $.ajax({
                url: '/IQA/api/Activation/CreateOrUpdateRequestDocument',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $spinner.removeClass('loader');
                    if (response.Status == -1) {
                        ShowNotification(response.Description, "error");
                    }
                    else {
                        $("#" + e.target.id).closest(".modal").modal('hide');
                        ShowNotification(response.Description, "success");
                        eval("@ViewData["Callback"]");
                    }
                }
            });
            e.preventDefault();
        });
    });
</script>