﻿@using IQA.Services.SettingData;
@using IQA.Utils;

<div id="activationDocumentApprovalModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="activationDocumentApprovalForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Activation Document</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="row form-group">
                            <div class="col-md-8 col-lg-8 col-xs-8">
                                <label>Document</label>
                                <input id="RequestDocument" name="RequestDocument" class="form-control" />
                            </div>
                            <div class="col-md-4 col-lg-4 col-xs-4">
                                <label>&nbsp;</label>
                                <button type="button" class="previewBtn form-control">Preview</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Requestor</label>
                                <input id="ActivationUsername" name="ActivationUsername" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Remark</label>
                                <input id="Remark" name="Remark" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Id" class="Id" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary activationDocumentApprovalBtn" data-status="@CommonUtil._STATUS_APPROVED">Approve</button>
                    <button type="button" class="btn btn-default activationDocumentApprovalBtn" data-status="@CommonUtil._STATUS_REJECTED">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".activationDocumentApprovalBtn", function () {
            var url = "/IQA/api/Activation/UpdateRequestDocumentStatus";
            var obj = {};
            obj.Remark = $("#activationDocumentApprovalForm #Remark").val();
            obj.ActivationId = $("#activationDocumentApprovalForm .Id").val();
            obj.Status = $(this).data("status") == "@CommonUtil._STATUS_APPROVED";

            var wMsg = new wMessage();
            wMsg.Body = obj;
            $spinner.addClass('loader');
            PostData_Ajax(wMsg, url).then(function (response) {
                $spinner.removeClass('loader');
                if (response.Status == -1) {
                    ShowNotification(response.Description, "error");
                }
                else {
                    $("#activationDocumentApprovalModal").modal('hide');
                    ShowNotification(response.Description, "success");
                    eval("@ViewData["Callback"]");
                }
            });
        });
    });
</script>