﻿@using IQA.Services.SettingData;

<div id="activationRequestApprovalModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="activationApprovalForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activation Request</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Inventory</label>
                            <input id="InventoryName" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Part Name</label>
                            <input id="PartName" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Requestor</label>
                            <input id="ActivationUsername" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Part Location</label>
                            <input id="PartLocation" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Consecutive Count</label>
                            <input id="ConsecutiveCount" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Consecutive Count</label>
                            <select id="IsSafetyComponent" disable class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <label>Document</label>
                            <input id="ActivationDocument" readonly class="form-control" />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4">
                            <label>&nbsp;</label>
                            <button type="button" class="previewBtn form-control">Preview</button>
                        </div>
                    </div>
                    <div class="row form-group trainingDocumentDiv">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <label>Training Document</label>
                            <input id="ActivationTrainingDocument" readonly class="form-control" />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4">
                            <label>&nbsp;</label>
                            <button type="button" class="previewTrainingDocumentBtn form-control">Preview</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Remark</label>
                            <input id="Remark" name="Remark" class="form-control" />
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="Id" name="Id" />
                    <input type="hidden" class="form-control" id="Status" name="Status" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary activationApprovalBtn" data-status="@ActivationStatusEnum._ACTIVE.GetId()">Approve</button>
                    <button type="button" class="btn btn-default activationApprovalBtn" data-status="@ActivationStatusEnum._REJECT.GetId()">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".activationApprovalBtn", function (e) {
            $("#activationApprovalForm #Status").val($(this).data("status"));
            $("#activationApprovalForm").trigger("submit");
        });

        $(document).on("submit", "#activationApprovalForm", function (e) {
            var formData = new FormData();

            formData.append("Id", $("#activationApprovalForm #Id").val());
            formData.append("Remark", $("#activationApprovalForm #Remark").val());
            formData.append("Status", $("#activationApprovalForm #Status").val());

            $spinner.addClass("loader");
            $.ajax({
                url: '/IQA/api/Activation/CreateOrUpdateActivation',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $spinner.removeClass('loader');
                    if (response.Status == -1) {
                        ShowNotification(response.Description, "error");
                    }
                    else {
                        $("#" + e.target.id).closest(".modal").modal('hide');
                        ShowNotification(response.Description, "success");
                        eval("@ViewData["Callback"]");
                    }
                }
            });
            e.preventDefault();
        });

        $(document).on("click", ".previewTrainingDocumentBtn", function () {
            var path = $("#trainingDocumentPreviewTxt").val();
            if ($(this).data("path") !== undefined) {
                path = $(this).data("path");
            }

            var url = window.location.protocol + "//" + window.location.host + "/IQA/" + path;
            window.open(url, 'Activation Training Document Preview');
        });

        $(document).on("click", ".previewBtn", function () {
            var path = $("#documentPreviewTxt").val();
            if ($(this).data("path") !== undefined) {
                path = $(this).data("path");
            }

            var url = window.location.protocol + "//" + window.location.host + "/IQA/" + path;
            window.open(url, 'Activation Document Preview');
        });
    });

    function showActivationConfirmation(e, value, row, index) {
        $("#activationApprovalForm #InventoryName").val(row.Inventory);
        $("#activationApprovalForm #PartName").val(row.PartNumber);
        $("#activationApprovalForm #ActivationUsername").val(row.ActivationUser);
        $("#activationApprovalForm #PartLocation").val(row.PartLocation);
        $("#activationApprovalForm #ConsecutiveCount").val(row.ConsecutiveLotCount);
        $("#activationApprovalForm #ActivationDocument").val(row.RequestDocument);
        $("#activationApprovalForm #Id").val(row.Id);
        $("#activationApprovalForm .previewBtn").attr("data-path", row.RequestDocument);
        $("#activationApprovalForm #ActivationTrainingDocument").val(row.TrainingDocument);
        $("#activationApprovalForm .previewTrainingDocumentBtn").attr("data-path", row.TrainingDocument);

        if (row.TrainingDocument !== undefined && row.TrainingDocument !== null && row.TrainingDocument.length != 0) {
            $(".trainingDocumentDiv").show();
        }
        else {
            $(".trainingDocumentDiv").hide();
        }

        $("#activationRequestApprovalModal").modal({
            show: true,
            keyboard: false
        });
    }
</script>