﻿@using IQA.Services.SettingData;

<div id="deactivationRequestApprovalModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activation Request <span id="warningSpan" style="color:red"></span></h4>
            </div>
            <div class="modal-body" style="overflow:auto">
                <div class="row form-group">
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <label>Action</label>
                        <select class="form-control" id="deactivationSelection">
                            <option value="approve">Approve</option>
                            <option value="extension">Request Extension</option>
                        </select>
                    </div>
                </div>
                <form id="deactivationApprovalForm" data-parsley-validate="true">
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Inventory</label>
                            <input id="InventoryName" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Part Name</label>
                            <input id="PartName" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Requestor</label>
                            <input id="ActivationUsername" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Part Location</label>
                            <input id="PartLocation" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Consecutive Count</label>
                            <input id="ConsecutiveCount" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Additional Consecutive Count</label>
                            <input id="AdditionalConsecutiveLotCount" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Is Safety Component</label>
                            <select id="IsSafetyComponent" disabled class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <label>Document</label>
                            <input id="ActivationDocument" readonly class="form-control" />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4">
                            <label>&nbsp;</label>
                            <button type="button" class="previewBtn form-control">Preview</button>
                        </div>
                    </div>
                    <div class="row form-group trainingDocumentDiv">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <label>Training Document</label>
                            <input id="ActivationTrainingDocument" readonly class="form-control" />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-4">
                            <label>&nbsp;</label>
                            <button type="button" class="previewTrainingDocumentBtn form-control">Preview</button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Remark</label>
                            <input id="Remark" name="Remark" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Inspection Record</label>
                            <div class="table-responsive">
                                <table id="approvalInspectionTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="Id" name="Id" />
                    <input type="hidden" class="form-control" id="Status" name="Status" />
                </form>
                <form id="extensionForm" data-parsley-validate="true">
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label><span style="color: red;">*</span>Lot Count : </label>
                            <input class="form-control" data-parsley-type="number" required type="text" data-parsley-min="0" name="LotCount" id="LotCount" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label><span style="color: red;">*</span> Requestor Manager : </label>
                            <select class="form-control" required name="ManagerId" id="ManagerId" data-live-search="true" data-size="8">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary deactivationApprovalBtn">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("change", "#deactivationSelection", function (e) {
            $('#extensionForm').parsley().destroy();
            $('#deactivationApprovalForm').parsley().destroy();
            if ($("#deactivationSelection").val() == "approve") {
                $("#deactivationApprovalForm").show();
                $("#extensionForm").hide();
                $('#deactivationApprovalForm').parsley();
            }
            else {
                $("#deactivationApprovalForm").hide();
                $("#extensionForm").show();
                $('#extensionForm').parsley();
            }
        });

        $(document).on("click", ".deactivationApprovalBtn", function (e) {
            console.log($("#deactivationSelection").val());
            if ($("#deactivationSelection").val() == "approve") {
                console.log("1");
                $("#deactivationApprovalForm").trigger("submit");
            }
            else {
                console.log("2");
                $("#extensionForm").trigger("submit");
            }
        });

        $(document).on("submit", "#extensionForm", function (e) {
            var formData = new FormData();
            formData.append("Id", $("#deactivationApprovalForm #Id").val());
            formData.append("Status", "@ActivationStatusEnum._PENDING_LOT_EXTENSION_APPROVAL.GetId()");
            formData.append("LotCount", $("#LotCount").val());
            formData.append("Managers", $("#ManagerId").val());
            submitForm(formData, e, '/IQA/api/Activation/RequestActivationLotExtension');
        });

        $(document).on("submit", "#deactivationApprovalForm", function (e) {
            var formData = new FormData();

            formData.append("Id", $("#deactivationApprovalForm #Id").val());
            formData.append("Remark", $("#deactivationApprovalForm #Remark").val());
            formData.append("Status", "@ActivationStatusEnum._COMPLETED.GetId()");

            submitForm(formData, e, '/IQA/api/Activation/CreateOrUpdateActivation');
        });

        $(document).on("click", ".previewTrainingDocumentBtn", function () {
            var path = $("#trainingDocumentPreviewTxt").val();
            if ($(this).data("path") !== undefined) {
               path = $(this).data("path");
            }

            var url = window.location.protocol + "//" + window.location.host + "/IQA/" + path;
            window.open(url, 'Activation Training Document Preview');
        });

        $(document).on("click", ".previewBtn", function () {
            var path = $("#documentPreviewTxt").val();
            if ($(this).data("path") !== undefined) {
                path = $(this).data("path");
            }

            var url = window.location.protocol + "//" + window.location.host + "/IQA/" + path;
            window.open(url, 'Activation Document Preview');
        });
    });

    function showDeactivationConfirmation(e, value, row, index) {
        var obj = {};
        obj.url = "/IQA/api/Configuration/GetData?table=u_user_informations";
        $spinner.addClass('loader');
        return GetData_Ajax(obj).then(function (data) {
            $spinner.removeClass('loader');

            for (var i = 0; i < data.Body.length; i++) {
                $("#ManagerId").append("<option value='" + data.Body[i].user_id + "'>" + data.Body[i].email + "</option>");
            }
            $("#ManagerId").selectpicker('refresh');

            var obj2 = {};
            obj2.url = "/IQA/api/Configuration/GetDataById?table=iqa_activation_request&id=" + row.Id;
            $spinner.addClass('loader');
            return GetData_Ajax(obj2).then(function (recordData) {
                $spinner.removeClass('loader');

                $("#approvalInspectionTable").empty();
                var inspectionTableObj = {};
                inspectionTableObj.id = "approvalInspectionTable";
                inspectionTableObj.data = recordData.Body.InspectionRecordList;

                RenderBootstrapTable(inspectionTableObj);
                if (inspectionTableObj.data.length != 0) {
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'PartId');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'ActivationId');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'ManufacturerId');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'UpdatedTime');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'CreatedTime');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'Id');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'RequestorId');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'InspectorId');
                    $("#tableapprovalInspectionTable").bootstrapTable('hideColumn', 'Status');

                    $("#tableapprovalInspectionTable").bootstrapTable("refreshOptions", {
                        trimOnSearch: false,
                        search:false,
                        onAll: function (a, b) {
                            var index = 0;
                            $("#tableapprovalInspectionTable thead tr th").each(function (i, row) {
                                if ($(this).data("field") == "RecordStatus") {
                                    index = i;
                                }
                            });
                            index++;

                            $("#tableapprovalInspectionTable tbody tr").each(function (i, row) {
                                var $row = $(row);
                                $row.find("td:nth-child(" + index + ")").css("background", $row.find("td:nth-child(" + index + ")").text() == "Completed" ? "#83C660" : "#FFFF00");
                            });
                        }
                    });
                }

                $("#deactivationApprovalForm #InventoryName").val(recordData.Body.Inventory);
                $("#deactivationApprovalForm #PartName").val(recordData.Body.PartNumber);
                $("#deactivationApprovalForm #ActivationUsername").val(recordData.Body.ActivationUser);
                $("#deactivationApprovalForm #PartLocation").val(recordData.Body.PartLocation);
                $("#deactivationApprovalForm #ConsecutiveCount").val(recordData.Body.ConsecutiveLotCount);
                $("#deactivationApprovalForm #AdditionalConsecutiveLotCount").val(recordData.Body.AdditionalConsecutiveLotCount);
                $("#deactivationApprovalForm #ActivationDocument").val(recordData.Body.RequestDocument);
                $("#deactivationApprovalForm #IsSafetyComponent").val(recordData.Body.IsSafetyComponent.toString());
                $("#deactivationApprovalForm #Id").val(recordData.Body.Id);
                $("#deactivationApprovalForm .previewBtn").attr("data-path", recordData.Body.RequestDocument);
                $("#deactivationApprovalForm #ActivationTrainingDocument").val(recordData.Body.TrainingDocument);
                $("#deactivationApprovalForm .previewTrainingDocumentBtn").attr("data-path", recordData.Body.TrainingDocument);

                if (recordData.Body.IsSafetyComponent) {
                    $("#warningSpan").html("(Please take note this is a safety component)");
                }
                else {
                    $("#warningSpan").html("");
                }

                if (recordData.Body.TrainingDocument !== undefined && recordData.Body.TrainingDocument !== null && recordData.Body.TrainingDocument.length != 0) {
                    $(".trainingDocumentDiv").show();
                }
                else {
                    $(".trainingDocumentDiv").hide();
                }

                $("#deactivationSelection").trigger("change");
                $("#deactivationRequestApprovalModal").modal({
                    show: true,
                    keyboard: false
                });
            })
        });
    }

    function submitForm(data, e, url) {
        console.log(e.target.id);
        url = url || '/IQA/api/Activation/CreateOrUpdateActivation';
        $spinner.addClass("loader");
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            success: function (response) {
                $spinner.removeClass('loader');
                handleResponse(response, e.target.id);
            }
        });
        e.preventDefault();
    }

    function handleResponse(response, id) {
        if (response.Status == -1) {
            ShowNotification(response.Description, "error");
        }
        else {
            $("#" + id).closest(".modal").modal('hide');
            ShowNotification(response.Description, "success");
            eval("@ViewData["Callback"]");
        }
    }
</script>