﻿@using IQA.Services.SettingData;
<div id="inspectionRecordModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inspection Record</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12 col-lg-12 col-xs-12 table-responsive">
                        <table id="inspectionTable" style="width:100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".viewInspectionRecord", function () {
            obj.url = "/IQA/api/Configuration/GetDataById?table=iqa_activation_request&id=" + $(this).data("id");
            $spinner.addClass('loader');
            return GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');

                $("#inspectionTable").empty();
                var inspectionTableObj = {};
                inspectionTableObj.id = "inspectionTable";
                inspectionTableObj.data = data.Body.InspectionRecordList;

                RenderBootstrapTable(inspectionTableObj);
                if (inspectionTableObj.data.length != 0) {
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'PartId');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'ActivationId');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'ManufacturerId');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'UpdatedTime');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'CreatedTime');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'Id');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'RequestorId');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'InspectorId');
                    $("#tableinspectionTable").bootstrapTable('hideColumn', 'Status');


                    $("#tableinspectionTable").bootstrapTable("refreshOptions", {
                        trimOnSearch: false,
                        onAll: function (a, b) {
                            var index = 0;
                            $("#tableinspectionTable thead tr th").each(function (i, row) {
                                if ($(this).data("field") == "RecordStatus") {
                                    index = i;
                                }
                            });
                            index++;

                            $("#tableinspectionTable tbody tr").each(function (i, row) {
                                var $row = $(row);
                                $row.find("td:nth-child(" + index + ")").css("background", $row.find("td:nth-child(" + index+")").text() == "Completed" ? "#83C660" : "#FFFF00");
                            });
                        }
                    });
                }

                $("#inspectionRecordModal").modal({
                    show: true,
                    keyboard: false
                });
            })
        });
    });
</script>