﻿@using IQA.Services.SettingData;
@using IQA.Database.CustomModel;
@using IQA.Utils;

<div id="lotExtensionApprovalModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="lotExtensionApprovalForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="configurationTitle">Lot Extension Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="row form-group">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Extension Count</label>
                                <input id="AdditionalCount" name="AdditionalCount" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Remark</label>
                                <input id="Remark" name="Remark" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Id" class="Id" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary lotApprovalBtn" data-status="@CommonUtil._STATUS_APPROVED">Approve</button>
                    <button type="button" class="btn btn-default lotApprovalBtn" data-status="@CommonUtil._STATUS_REJECTED">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".updateExtensionStatus", function (e) {
            $("#lotExtensionApprovalForm #AdditionalCount").val($(this).data("count"));
            $("#lotExtensionApprovalForm .Id").val($(this).data("id"));
            $("#lotExtensionApprovalModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(document).on("click", ".lotApprovalBtn", function (e) {
            var url = "/IQA/api/Activation/ActivationLotRequestRespond";
            var obj = {};

            var wMsg = new wMessage();
            obj.Remark = $("#lotExtensionApprovalForm #Remark").val();
            obj.Id = $("#lotExtensionApprovalForm .Id").val();
            obj.ExtensionStatus = ($(this).data("status") == "@CommonUtil._STATUS_APPROVED")
            wMsg.Body = obj;
            $spinner.addClass('loader');
            PostData_Ajax(wMsg, url).then(function (response) {
                $spinner.removeClass('loader');
                if (response.Status == -1) {
                    ShowNotification(response.Description, "error");
                }
                else {
                    $("#lotExtensionApprovalModal").modal('hide');
                    ShowNotification(response.Description, "success");
                    eval("@ViewData["Callback"]");
                }
            });
        });
    });
</script>