﻿@using IQA.Services.SettingData;
@using IQA.Utils;

<div id="extensionModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="extensionForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="configurationTitle">Extension Request</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row form-group">
                        <label class="col-md-3 col-lg-3 col-xs-3"><span style="color: red;">*</span> Lot Count : </label>
                        <div class="col-md-9 col-lg-9 col-xs-9">
                            <input class="form-control" data-parsley-type="number" required type="text" data-parsley-min="0" name="LotCount" id="LotCount" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnExtensionSubmit">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="lotExtensionApprovalModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="lotExtensionApprovalForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="configurationTitle">Lot Extension Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="row form-group">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Extension Count</label>
                                <input id="AdditionalCount" name="AdditionalCount" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12">
                                <label>Remark</label>
                                <input id="Remark" name="Remark" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Id" class="Id" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary lotApprovalBtn" data-status="@CommonUtil._STATUS_APPROVED">Approve</button>
                    <button type="button" class="btn btn-default lotApprovalBtn" data-status="@CommonUtil._STATUS_REJECTED">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        var selectedId = "";
        $(document).on("click", ".requestExtension", function (e) {
            selectedId = $(this).data("id");
            $("#extensionModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(document).on("submit", "#extensionForm", function (e) {
            var formData = new FormData();

            formData.append("Id", selectedId);
            formData.append("Status", "@ActivationStatusEnum._PENDING_LOT_EXTENSION_APPROVAL.GetId()");
            formData.append("LotCount", $("#LotCount").val())
            submitForm(formData, e, '/IQA/api/Activation/RequestActivationLotExtension');
        });

        $(document).on("click", ".updateExtensionStatus", function (e) {
            $("#lotExtensionApprovalForm #AdditionalCount").val($(this).data("count"));
            $("#lotExtensionApprovalForm .Id").val($(this).data("id"));
            $("#lotExtensionApprovalModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(document).on("click", ".lotApprovalBtn", function (e) {
            var url = "/IQA/api/Activation/ActivationLotRequestRespond";
            var obj = {};

            var wMsg = new wMessage();
            obj.Remark = $("#lotExtensionApprovalForm #Remark").val();
            obj.Id = $("#lotExtensionApprovalForm .Id").val();
            obj.ExtensionStatus = ($(this).data("status") == "@CommonUtil._STATUS_APPROVED")
            wMsg.Body = obj;
            $spinner.addClass('loader');
            PostData_Ajax(wMsg, url).then(function (response) {
                $spinner.removeClass('loader');
                if (response.Status == -1) {
                    ShowNotification(response.Description, "error");
                }
                else {
                    $("#lotExtensionApprovalModal").modal('hide');
                    ShowNotification(response.Description, "success");
                    eval("@ViewData["Callback"]");
                }
            });
        });

        function submitForm(data, e, url) {
            url = url || '/IQA/api/Activation/CreateOrUpdateActivation';
            $spinner.addClass("loader");
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    $spinner.removeClass('loader');
                    handleResponse(response, e.target.id);
                }
            });
            e.preventDefault();
        }

        function handleResponse(response, id) {
            if (response.Status == -1) {
                ShowNotification(response.Description, "error");
            }
            else {
                $("#" + id).closest(".modal").modal('hide');
                ShowNotification(response.Description, "success");
                eval("@ViewData["Callback"]");
            }
        }
    });
</script>