﻿<div id="rejectModal" class="modal fade modal-right" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="rejectForm" data-parsley-validate="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reject Part</h4>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Part Description : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" type="text" required name="RejectedPartDescription" id="RejectedPartDescription">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> Reject Reason: </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" required type="text" name="RejectReason" id="RejectReason">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4 col-lg-4 col-xs-4"><span style="color: red;">*</span> NMR # : </label>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <input class="form-control" required type="text" name="NmrNumber" id="NmrNumber">
                        </div>
                    </div>
                    <input type="hidden" class="form-control Id" name="Id" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("submit", "#rejectForm", function (e) {
            submitForm(new FormData(this), e);
        });

        $(document).on("click", ".updateRejectInfo", function (e) {
            $("#rejectModal .Id").val($(this).data("id"));
            var obj = {};
            obj.url = "/IQA/api/Configuration/GetDataById?table=iqa_inventory_item&id=" + $(this).data("partid");
            $spinner.addClass('loader');
            GetData_Ajax(obj).then(function (data) {
                $spinner.removeClass('loader');
                $("#RejectedPartDescription").val(data.Body.Description);
                $("#rejectModal").modal({
                    show: true,
                    keyboard: false
                });
            });
        });

        function submitForm(data, e) {
            $spinner.addClass("loader");
            $.ajax({
                url: '/IQA/api/Activation/CreateOrUpdateInspectionRecord',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    $spinner.removeClass('loader');
                    if (data.Status == -1) {
                        ShowNotification(data.Description, "error");
                    }
                    else {
                        $("#rejectModal").modal('hide');
                        ShowNotification(data.Description, "success");
                        eval("@ViewData["Callback"]");
                    }
                }
            });
            e.preventDefault();
        }
    });
</script>