﻿@using IQA.Services.SettingData;
@using IQA.Utils;

<div id="updateTrainingDocumentModal" class="modal fade modal" role="dialog">
    <div class="modal-dialog">
        <form id="trainingDocumentForm" data-parsley-validate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Training Document</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label>Training Document</label>
                            <input id="trainingDocumentTxt" name="trainingDocumentTxt" type="file" class="file form-control" required data-show-preview="false">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="Id" class="Id" />
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                    <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".requestTrainingDocumentUpdate", function () {
            $(".Id").val($(this).data("id"));
            $("#updateTrainingDocumentModal").modal({
                show: true,
                keyboard: false
            });
        });

        $(document).on("submit", "#trainingDocumentForm", function (e) {
            var formData = new FormData(this);
            formData.append("Status", "@ActivationStatusEnum._REQUEST_ACTIVATION.GetId()");

            $spinner.addClass("loader");
            $.ajax({
                url: '/IQA/api/Activation/CreateOrUpdateActivation',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $spinner.removeClass('loader');
                    if (response.Status == -1) {
                        ShowNotification(response.Description, "error");
                    }
                    else {
                        $("#" + e.target.id).closest(".modal").modal('hide');
                        ShowNotification(response.Description, "success");
                        eval("@ViewData["Callback"]");
                    }
                }
            });
            e.preventDefault();
        });
    });
</script>